<div class="row" style="margin-top: 10px;">
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">
      <!-- created route: localhost:4200/servers/5/edit -->
      <!-- For adding query: bind to queryParams property (queryParams is a bindable property from routeLink directive)-->
      <!-- [fragment]="'loading...'"  OR fragment="loading..." -->
      <!-- <a
        [routerLink]="['/servers', 5, 'edit']"
        [queryParams]="{allowEdit: '1'}"
        [fragment]="'loading'"
        href="#"
        class="list-group-item"
        *ngFor="let server of servers">
        {{ server.name }}
      </a>     INSTEAD of hard coded:-->
      <a
        [routerLink]="['/servers', server.id]"
        [queryParams]="{allowEdit: server.id === 3 ? '1' : '0'}"
        [fragment]="'loading'"
        href="#"
        class="list-group-item"
        *ngFor="let server of servers">
        {{ server.name }}
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
  <!-- <a routerLink="servers">Reload Page</a>   will be: localhost:4200/servers/servers -->
  <!-- <a routerLink="/servers">Reload Page</a>   will be: localhost:4200/servers -->
    <!-- <a routerLink="/servers">Reload Page</a>  OR: -->
    <!-- <a routerLink="../servers">Reload Page</a> -->


    <!-- Using relative path: -->
    <!-- <button class="btn btn-primary" (click)="onReloadEvent()">Reload Reload Page</button> -->
    <!-- <app-edit-server></app-edit-server>   -->
    <!-- <hr> -->
    <!-- <app-server></app-server> Later we'll learn nested router -->
    <!-- instead of these ^ lines:   for showinh the nested routes here-->
    <router-outlet></router-outlet>
  </div>
</div>

