<div class="row" style="margin-top: 10px;">
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">
      <a
        href="#"
        class="list-group-item"
        *ngFor="let server of servers">
        {{ server.name }}
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
  <!-- <a routerLink="servers">Reload Page</a>   will be: localhost:4200/servers/servers -->
  <!-- <a routerLink="/servers">Reload Page</a>   will be: localhost:4200/servers -->
    <!-- <a routerLink="/servers">Reload Page</a>  OR: -->
    <a routerLink="../servers">Reload Page</a>
    <!-- Using relative path: -->
    <button class="btn btn-primary" (click)="onReloadEvent()">Reload Reload Page</button>
    <app-edit-server></app-edit-server>
    <hr>
    <app-server></app-server>
  </div>
</div>

